* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type="checkbox"] {
  display: none;
}
label div {
  height: 50px;
  width: 70px;
  background: black;
  color: white;
  border-radius: 50%;
  line-height: 40px;
  text-indent: 7px;
  cursor: pointer;
  z-index: 1;
  border: 3px solid white;
  position: fixed;
  top: -5px;
  right: -20px;
}
label div:hover {
  background: lightskyblue;
}

.content {
  padding: 40px;
  text-align: justify;
  line-height: 30px;
}
ul {
  display: flex;
  list-style: none;
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  transform: scaleX(1);
  transform-origin: right;
  transition: 0.3s;
}
ul li {
  padding: 10px;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

ul li a:hover {
  color: lightskyblue;
  border-bottom: 2px solid white;
}

#toggle:checked ~ ul {
  transform: scaleX(0);
  border-radius: 360px;
}
